## Patrick Zwierzynski ##
#### Movie Poster General Stats ####
------
This jupyter notebook contains some initial, general introductory descriptions and statistics about the movie poster data set.

In [49]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re as regex

In [160]:
# Import the raw csv data
movie_importDF_nd = pd.read_csv('Data\MovieGenre.csv').dropna()
col_names = movie_importDF_nd.keys()
N, D = movie_importDF_nd.shape

# Show the column titles
print(col_names)

Index(['imdbId', 'Imdb Link', 'Title', 'IMDB Score', 'Genre', 'Poster'], dtype='object')

In [161]:
# Show ID no., Title, and Genres of first 10 entries in data set
movie_importDF_nd[:10][["imdbId", "Title", "Genre"]]

   imdbId                               Title                       Genre
0  114709                    Toy Story (1995)  Animation|Adventure|Comedy
1  113497                      Jumanji (1995)     Action|Adventure|Family
2  113228             Grumpier Old Men (1995)              Comedy|Romance
3  114885            Waiting to Exhale (1995)        Comedy|Drama|Romance
4  113041  Father of the Bride Part II (1995)       Comedy|Family|Romance
5  113277                         Heat (1995)          Action|Crime|Drama
6  114319                      Sabrina (1995)                Comedy|Drama
7  112302                 Tom and Huck (1995)      Adventure|Comedy|Drama
8  114576                 Sudden Death (1995)       Action|Crime|Thriller
9  113189                    GoldenEye (1995)   Action|Adventure|Thriller

In [172]:
# Extract raw genre data
genre_raw_n = movie_importDF_nd['Genre'].to_numpy()
genre_set = set()

for genre_str in genre_raw_n:
    genre_set = genre_set.union(regex.split("\|", genre_str))
        
genre_set = np.array(list(genre_set))

# Display all unique genres in data set
print("%d Different Genres:\n" % genre_set.size, genre_set)

28 Different Genres:
 ['Mystery' 'Romance' 'Drama' 'Musical' 'Sport' 'Family' 'Biography' 'War'
 'Horror' 'Talk-Show' 'Adventure' 'Music' 'Thriller' 'Documentary'
 'Animation' 'Reality-TV' 'Short' 'Action' 'News' 'History' 'Fantasy'
 'Comedy' 'Film-Noir' 'Game-Show' 'Crime' 'Adult' 'Sci-Fi' 'Western']